@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

:root {
  --h-header: 89px
  --h-panel-header: 56px;
}

.header {
  height: 82px;
  position: fixed;
  top: 0;
  width: 100%;
}

.previewer {
  height: calc(100vh - (82px + 56px));
  position: relative;
  top: 82px;
}

.editor-panel {
  position: fixed;
  bottom: 0;
  width: 100%;
  transform: translateY(calc(100% - 56px));
}

.editor-panel.open {
  transform: translateY(0);
}

.editor-panel button.toggle svg,
.editor-panel .collapsible button svg,
.aboutme-card button svg {
  transform-style: preserve-3d;
  transition: transform 0.3s;
}

.panel-body {
  max-height: 70vh;
}

svg.flip {
  transform: rotateX(180deg);
}

.navbar .active {
  @apply font-semibold bg-zinc-200 text-zinc-800;
}

.main {
  margin: 0 auto;
}

.header, .editor-panel {
  z-index: 80;
}

.overlay {
  z-index: 50;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b4b4b4;
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8a8a8a;
}

.app.full .editor-panel {
  opacity: 0;
  transform: translateY(130%);
}

.app.full .header .content {
  opacity: 0;
  pointer-events: none;
}

.app.full .header {
  width: 50%;
  right: 1vw;
}

@media (min-width: 768px) {
  .navbar::after {
    content: '';
    width: 100%;
    height: 150px;
    position: absolute;
    bottom: -20px;
    background-color: rgba(255, 255, 255, .9);
    /* backdrop-filter: saturate(150%) blur(24px); */
    z-index: -1;
  }

  .main .section > * {
    padding: 0 16px;
  }
}

@media (min-width: 1024px) {
  .main-wrapper {
    position: relative;
    left: 250px;
    width: calc(100% - 250px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    min-height: 100vh;
  }

  .app.full .main-wrapper {
    left: 0;
    width: 100%;
    padding: 0;
  }

  .app.full .editor-panel {
    transform: translateX(-130%);
  }

  .editor-panel {
    transform: none;
    top: 129px;
    left: 0px;
    height: min-content;
    max-height: calc(100vh - 180px);
  }
  .editor-panel.open {
    transform: none;
  }
  .editor-panel button.toggle {
    display: none;
  }
  .panel-body {
    max-height: calc(100vh - 180px - 56px);
  }

  .header {
    width: calc(100% - 286px);
    top: 20px;
  }
  .previewer {
    top: 110px;
    max-height: calc(100vh - 180px);
  }

  .header, .previewer {
    max-width: 1310px;
  }

  .main .section > * {
    padding: 0 24px;
  }
}